@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@200;400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #23252c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background-color: #1a1b21;
  border-radius: 10px;
  width: 400px;
  height: 680px;
  overflow: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-top: 20px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subheading {
  font-weight: 400;
  font-size: 15px;
  line-height: 0.5px;
  text-align: center;
  color: #f3bf99;
}

.info a {
  font-size: 12px;
}

.about {
  color: #ffffff;
  margin: 20px;
}

.about h1 {
  font-size: 20px;
  padding: 6px 20px;
  margin: 0;
}

.about p {
  font-size: 12px;
  padding: 0px 20px;
  margin: 2px 0px;
}

a {
  font-size: 12px !important;
  color: #f5f5f5;
  display: flex;
  justify-content: center !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-btn {
  height: 35px;
  width: 100px;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 5px;
  border: 0 solid;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-text {
  font-size: 14px;
  margin: 0px 5px;
}

.linkedin-btn {
  height: 35px;
  width: 100px;
  font-size: 1rem;
  background: #0ea5e9;
  border-radius: 5px;
  border: 0 solid;
  color: white;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #161619;
  justify-content: center;
  display: flex;
  padding: 5px;
}

.icons {
  width: auto;
  height: 30px;
  color: #918e9b;
  margin: 20px;
}

.single-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
