@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@200;400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #1a1b21;
  box-shadow: 0 8px 32px 0 rgba(164, 166, 174, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  max-width: 100%;
  overflow: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subheading {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.5px;
  text-align: center;
  color: #f3bf99;
}

.heading,
.content {
  color: #ffffff;
  margin: 1.2rem;
}

a {
  font-size: 18px;
  text-align: center;
  margin: 11rem;
  color: #f5f5f5;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-btn {
  height: 46px;
  width: 150px;
  font-size: 1.3rem;
  background: #ffffff;
  border-radius: 10px;
  border: 0 solid;
  color: black;
  margin: 1.5rem;
}

.linkedin-btn {
  height: 46px;
  width: 150px;
  font-size: 1.3rem;
  background: #0ea5e9;
  border-radius: 10px;
  border: 0 solid;
  color: white;
  margin: 1.5rem;
}

.footer {
  background-color: #161619;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.icons {
  width: auto;
  height: 40px;
  color: #918e9b;
  margin: 20px;
}

.info-icon {
}
